button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1ujsas3 {
  justify-content: left;
}
.sign-up {
  margin: 10px 0;
}

#sign-line {
  margin-top: 20px;
}
