.MuiBox-root.css-0 {
  display: flex;
  margin-top: 16px;
}
button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  margin: 0;
  color: black;
  padding: 0;
}

div.welcome-text {
  margin-top: 16px;
}

.MuiFormControl-root.css-1agwao2-MuiFormControl-root {
  margin: 0;
}
