@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");

.main-parent-div {
  text-align: center;
}

.main-app {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
}

body {
  background-color: #fafaff;
}

form.MuiBox-root {
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
div.welcome-input {
  margin-left: 50px;
}

.main-inputs {
  display: flex;
  justify-content: center;
}

button {
  margin: auto;
}

form.MuiBox-root.css-xn6ruc{
  /* background-color: yellow;
  width:250px; */
}

.css-xn6ruc>:not(style){
  /* background-color: violet;
  width:60vw; */
}
button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  width:80px;
}