:root {
  --light-primary: #0099ff;
  --light-secondary-blue: #4292c8;
  --light-tertiary: #2f6081;
  --dark-primary: #f6b93b;
  --dark-secondary: #e58e26;
  --dark-tertiary: #b71540;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
